@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --Primary-color: #28cb8b;
  --Secoundary-color: #263238;
  --Info-color: #2194f3;
  --Silver-color: #f5f7fa;
  --Neutral-black-color: #263238;
  --Grey-color: #717171;
  --Light-Grey-color: #89939e;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: 0.2s linear;
}
p {
  line-height: 1.6;
}
.header {
  background-color: var(--Silver-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 120px;
  height: 84px;
}

.header .navbar a {
  margin: 0 1rem;
  color: var(--Neutral-black-color);
}

.header .navbar a:hover {
  color: var(--Primary-color);
  border-bottom: 0.1rem solid var(--Primary-color);
  padding-bottom: 0.5rem;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--Primary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-left: 0.3rem;
}

.btn-secondary {
  color: var(--Primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.btn-secondary:hover {
  border: 0.1rem solid var(--Primary-color);
}

.container {
  padding: 0 120px;
}
.hero-content a:link {
  background-color: var(--Primary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 1.7rem;
}
.hero {
  background-color: var(--Silver-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Grey-color);
}

h1 {
  font-weight: 600;
  font-size: 4rem;
}

.hero .hero_content span {
  color: var(--Primary-color);
}

.clients,
.who {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
h2 {
  font-size: 35px;
  text-align: center;
}

.logos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.suitable-items {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* display: inline-flex; */
}

.suitable-card {
  width: 300px;
  height: 260px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.unseen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.unseen-header {
  font-size: 45px;
  margin-bottom: 25px;
}
.unseen p {
  font-size: 17px;
}
.unseen-content a {
  background-color: var(--Primary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 1.7rem;
}

.local {
  display: flex;
  gap: 200px;
  align-items: center;
  background-color: var(--Silver-color);
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}
.local h3 {
  font-size: 35px;
  margin-bottom: 8px;
}
span {
  color: var(--Primary-color);
}
.item-div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
}
.local-number {
  font-weight: bold;
  color: var(--Secoundary-color);
  font-size: 1.1rem;
}
.local-p {
  font-size: 13px;
  color: var(--Grey-color);
}

.pana {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  margin-bottom: 40px;
}
.pana h3 {
  font-size: 45px;
  margin-bottom: 25px;
}
.pana p {
  font-size: 17px;
}
.pana a {
  background-color: var(--Primary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 1.7rem;
}

.tesla {
  display: flex;

  gap: 50px;
  padding-top: 30px;
  margin-bottom: 20px;
  background-color: var(--Silver-color);
}
.tesla-img {
  width: 326px;
  height: 326px;
  /* border-radius: 8px; */
}
.tesla strong {
  color: var(--Primary-color);
}
.tesla p {
  margin-bottom: 15px;
}
.light {
  font-size: 1rem;
  font-weight: 400;
  color: var(--Light-Grey-color);
  margin-top: 8px;
}
.tesla-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
